* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.policy {
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  text-align: justify;
  overflow-y: auto;
}

.policy p {
  margin: 5px 0;
}

.policy ul li {
  margin-left: 1rem;
  list-style: none;
}

.tab {
  margin-left: 1rem !important;
}
